In [10]:
import pandas as pd
#Import Random Forest Model and other library

from sklearn.ensemble import RandomForestClassifier
import numpy as np
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
SEED=100

In [11]:
dataset = pd.read_csv('https://raw.githubusercontent.com/mk-gurucharan/Classification/master/SocialNetworkAds.csv')

In [12]:
dataset.head(10)

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0
5   27            58000          0
6   27            84000          0
7   32           150000          1
8   25            33000          0
9   35            65000          0

In [17]:
x = dataset.drop('Purchased',axis=1)
y= dataset['Purchased']

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=42,shuffle=True)

In [22]:
print(len(x_train))
print(len(x_test))
print(len(y_train))
print(len(y_test))

320
80
320
80

In [24]:
# Build a RandomForest classification model
model = RandomForestClassifier(n_estimators=10,criterion='entropy')
model.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10)

In [25]:
#predict the test data
pred=model.predict(x_test)
print(pred)

[1 1 0 1 0 0 1 0 0 0 0 1 0 0 0 1 1 1 0 1 0 0 1 1 0 1 1 0 1 0 0 0 1 0 1 0 0
 0 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0 0 1 0 0 1 0 1 0 1 1 0 0 0
 1 0 0 1 0 0]

In [28]:
#our original test data
print(list(y_test))

[0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1]

In [38]:
#accuracy of our model
accuracy=len(np.where(y_test==pred)[0])/len(y_test)
print('accuracy: {} % '.format(accuracy*100))

accuracy: 87.5 %